{% extends "theme::layouts/default" %}
{% block content %}
    {{ asset_style("pyro.module.todos::css/style.css") }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <div class="container-fluid">
        <body>
        <div class="button">
            <button type="button"  class="btn btn-success" value="add" data-toggle="modal" data-target="#exampleModal">Ekle</button>
            <button type="button" class="btn btn-info" onclick="yenile()" value="yenile">Yenile</button>
        </div>
        <table id="todo" class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
        </table>
        </body>
    </div>
    <!-- Eklemek için -->
    <div class="alert"></div>
    <div id="exampleModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="user_form">
                    <div class="modal-header">
                        <h4 class="modal-title">ToDo Ekle</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" value="1" name="type">
                        <button type="button" class="btn btn-success" id="btn-add">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </html>

    {{ asset_script("pyro.module.todos::js/main.js") }}
    {{ asset_script("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js") }}
    {{ asset_script("theme::js/bootstrap.min.js") }}
{% endblock %}